{% extends 'core/main.html' %}
{% load static %}
<!-- Start File Content -->
{% block content %}

{% if submitted %}
<b>New product is successfully created!</b>
<br><br>
<a  class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190; Go to the home page</a>
{% else %}
<h2>Create product</h2>
<form action = "" method = "POST" enctype = "multipart/form-data">
     {% csrf_token %}
    {{form.as_p}}
    <input type = "submit" class = "btn btn-dark" value = "Create">
</form>
{% endif %}
{% endblock content %}
<!-- End File Content -->